<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

</head>


<body>
    <h2> Bienvenue sur la seconde page</h2>

    <p class="second"> Pour revenir sur la page d'accueil
        <a href="{{url_for('home')}}"> Cliquez sur ce lien</a> Ouais, au cours de mes recherches sur la page principale, j'avais vu qu'on pouvait saisir un point d'interrogation. Mais ta capture d'écran semble montrer qu'ensuite VSC est censé proposer
        plusieurs choix (et tu dis de sélectionner le premier). Mais dans mon cas, si je saisis un point d'interrogation, aucun choix n'est affiché.
    </p>
</body>

</html>