<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire|Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <div>
        <h3>{{message}}</h3>
        <a href="{{url_for('hello')}}">Accueil</a>
    </div>

    <div>
        <form action="{{ url_for('register') }}" method="POST">
            <fieldset enabled>
                <legend>Inscription</legend>
                <div>
                    <label for="firstname">Prénom: </label>
                    <input type="text" name="firstname">
                </div>
                <div>
                    <label for="lastname">Nom: </label>
                    <input type="text" name="lastname">
                </div>
                <div>
                    <label for="sexe">Sexe: </label>
                    <select name="sexe" id="pet-select">
                <option value="">--Selectionnez une option--</option>
                <option value="Masculin">Masculin</option>
                <option value="Feminin">Féminin</option>
            </select>
                </div>
                <div>
                    <label for="pseudo">Pseudo: </label>
                    <input type="text" name="pseudo">
                </div>

                <div><input type="submit" value=Register></div>
            </fieldset>
        </form>
    </div>
</body>

</html>